*.class
*.bin
*.apk
*.txt
build/
/gradle/gradle.iml
/gradle/local.properties
/local.properties

#IDEA
atlassian-ide-plugin.xml
*.iml
*.ipr
*.iws
.idea/
.idea/gradle.xml
project.properties
out/

#Android Studio
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle.properties

